body, html {
	margin: 0;
	/* background-color: #21d3c4; */
	background-color: white;
	color: #717171;
	font-family: 'Mukta', sans-serif;
	height: 100%;
	overflow-y: auto;
}

nav {
	box-sizing: border-box;
	width: 20vw;
	background-color: #21d3c4;
	height: 100vh;
	background-image: url(white.png);
	background-repeat: no-repeat;
	background-position: calc(50% + 2vw) 10vh;
	background-size: 14vw 10vw;
	padding-top: 20vw;
	color: white;
	position: fixed;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	padding-left: calc(25% + 3vw);
	padding-right: 25%;
	text-align: center;
	box-sizing: border-box;
}

nav li {
	margin: 0;
	margin-bottom: 10px;
	font-size: 1.5vw;
	transition: transform 300ms ease;
}

nav li:hover {
	transform: translateX(10px);
}

nav a {
	text-decoration: none !important;
	color: white !important;
}

.one {
	padding-left: 30px;
}

.two {
	padding-left: 16px;
}

.three {
	padding-left: 5px;
}

nav:after {
	content: '';
	background-image: url(sidebar.svg);
	height: 100vh;
	background-size: 100% 100%;
	width: 100px;
	display: block;
	position: absolute;
	left: 20vw;
	top: 0;
}

nav .copyright {
	position: absolute;
	bottom: 2vw;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1vw;
}

main {
	padding-left: calc(20vw + 10vw);
	box-sizing: border-box;
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.featured {
	width: 70%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.description {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.description h2 {
	color: #323252;
	font-size: 3vw;
	margin: 0;
	margin-top: 14px;
}

.description a {
	text-decoration: none !important;
}

.description p {
	margin: 0;
}

.description p.info {
	font-size: 1.3vw;
	margin-left: 1vw;
	font-style: italic;
}

.description p.date {
	font-size: 1vw;
	margin-left: 1.3vw;
	margin-top: 3px;
	font-style: italic;
	color: #adadad;
}

/* page */

main.page {
	padding-right: 3vw;
}

.center {
	text-align: center;
}

.game {
	width: 12vw;
	height: 12vw;
	background-color: white;
	display: inline-block;
	margin: 0 1vw;
	margin-bottom: 1vw;
	background-size: cover;
	background-position-x: 50%;
	transition: 300ms ease;
}

.game:hover {
	transform: scale(1.1);
}

.nogame {
	width: 12vw;
	height: 12vw;
	background-color: lightgrey;
	display: inline-block;
	margin: 0 1vw;
	margin-bottom: 1vw;
	transition: 300ms ease;
}

.page h1 {
	color: #323252;
	font-size: 3vw;
	margin: 0;
}

.page p {
	font-size: 1.2vw;
}

.the-best-games-ever-made {
	/* it's true */
	margin-top: 5vw;
}

/* mobile */

@media only screen and (max-width: 950px) {
	nav {
		height: 85px;
		background-size: 75px 65px;
		background-position: 50% 10px;
		width: 100vw;
		box-shadow: 0px -7px 17px 7px rgba(0,0,0,0.41);
		padding: 0;
		z-index: 888;
	}

	nav:after {
		display: none;
	}

	nav ul {
		position: absolute;
		z-index: 0;
		top: 85px;
		left: 0;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		height: 35px;
		text-align: left;
		background: #a4b9b3;
		text-align: center;
		box-shadow: inset 0px 30px 8px -28px rgba(0,0,0,0.15);
	}

	nav li {
		font-size: 20px;
		display: inline-block;
	}

	nav li:hover {
		transform: translate(0);
	}

	.one, .two, .three {
		margin-left: 10px !important;
		margin-right: 10px;
		padding: 0;
	}

	.copyright {
		display: none !important;
	}

	main {
		margin-top: 120px;
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: initial;
	}

	.featured {
		width: 100%;
	}

    .description h2 {
    	font-size: 50px;
    }

	.description p.info {
		font-size: 17px;
		margin: 0;
	}

	.description p.date {
		font-size: 15px;
		margin: 0;
	}

	.page h1 {
		font-size: 50px;
	}

	.page p {
		font-size: 17px;
	}

	.game {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 40vw;
		height: 40vw;
		margin-bottom: 20px;
	}

	.nogame {
		display: none;
	}
}